@import "tailwindcss";

@plugin "daisyui" {
    darktheme: "dark";
    themes: dark --default, light --preferslight;
}
@plugin "daisyui/theme" {
    default: true;
}

[data-theme="light"] {
    --color-primary: #002b6b;
    --color-secondary: #8a053c;
    --color-success: #3c8e26;
}
[data-theme="dark"] {
    --color-primary: #002b6b;
    --color-secondary: #8a053c;
    --color-success: #3c8e26;
}

@source "../../../vendor/robsontenorio/mary/src/View/Components/**/*.php";
@source "../../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../../storage/framework/views/*.php";
@source "../../**/*.blade.php";
@source "../../**/*.js";

@custom-variant dark (&:where(.dark, .dark *));

/* Agrega aquí los estilos personalizados para el tema encendido */
