@import "tailwindcss";

@plugin "daisyui" {
    /* themes: light --default, dark --prefersdark; */
    /* only dark mode */
    darktheme: "dark";
    themes: dark --default, light --preferslight;
    /* themes: dark --default, light --prefersdark; */
}
@plugin "daisyui/theme" {
    default: true;
}
[data-theme="light"] {
    --color-primary: #002b6b;
    --color-secondary: #8a053c;
    --color-success: #3c8e26;
}
[data-theme="dark"] {
    --color-primary: #002b6b;
    --color-secondary: #8a053c;
    --color-success: #3c8e26;
}

@source "../../vendor/robsontenorio/mary/src/View/Components/**/*.php";
@custom-variant dark (&:where(.dark, .dark *));

@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";
/* Table pagination: active page highlight */
.mary-table-pagination span[aria-current="page"] > span {
    @apply bg-primary text-base-100;
}

/* Table pagination: for dark mode*/
.mary-table-pagination span[aria-disabled="true"] span {
    @apply bg-inherit;
}

/* Table pagination: for dark mode */
.mary-table-pagination button {
    @apply bg-base-100;
}

.html-desc h1 {
    @apply text-4xl;
}

.html-desc h2 {
    @apply text-3xl;
}

.html-desc h3 {
    @apply text-2xl;
}

.html-desc h4 {
    @apply text-xl;
}

.html-desc h5 {
    @apply text-lg;
}

.html-desc h6 {
    @apply text-base;
}

/* cart wiggle animation */
.cart-wiggle-animation {
    /* 5 times */
    animation: wiggle 0.5s ease-in-out;
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
        transform: scale(1);
    }
    25% {
        transform: rotate(30deg);
    }
    50% {
        transform: rotate(0deg);
        transform: scale(3);
    }
    75% {
        transform: rotate(-30deg);
    }
    100% {
        transform: rotate(0deg);
        transform: scale(1);
    }
}

/* Definición de la animación */
@keyframes rebote {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0);
    }
}

.animar-rebote {
    animation-name: rebote;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
    border: 1px solid #e5e7eb;
    border-radius: 50%;
    width: 104px;
    height: 104px;
}

#cart-highlight {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.cartButton {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
